@import "tailwindcss";

:root {
  --color-primary: #1e40af;   
  --color-secondary: #f59e0b; 
  --color-accent: #10b981;    
  --color-background: #f9fafb;
  --color-foreground: #111827;
  --color-muted: #6b7280;    
  --color-danger: #ef4444;   
}


